<br>


<%= bootstrap_flash %>
<%= yield %>
</div>

</div><!--/row-->


</div> <!-- /container -->
<div class="navbar navbar-fixed-bottom">
  <footer>
    <p>&copy; UWA CSP 2014</p>
  </footer>
</div>

</body>
</html>






